<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Kukato Coffee Roastery
    </h1>

  <div class="text-center">
    
    <h6> We are a small batch, hand-roasted coffee roastery based in Seattle. </h6>
      
    <h6> We believe in educating our customers about coffee beans and equipments! </h6>
    
    <h6> We host a variety of events such as tasking and cupping at our local coffee shop.</h6>

    <h6> We share tips for making delicious coffee drinks at your own home on our Home Brewing Blog :) </h6>
      
  </div
</div>



<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      What's happening at Kukato
    </h1>

    <a href="/companies/new" class="btn btn-block btn-outline-secondary">
      Add a new event!
    </a>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">




  <div class="row mb-5">
    <div class="col-md-8 offset-md-2">
      <% @companies.reverse_each do |company| %>
      <div class="card">

        <td>
          <p class="font-weight-bold"><%= company.title %></p>
          
        </td>

        <td>
          <img src="<%= company.photo%>" class="img-fluid">
        </td>

        <td>
          <%= company.caption %>
        </td>

        <td>
          <%= company.created_at %>
        </td>


        <td>
          <a href="/companies/<%= company.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
